.icon{
    float: left;
}
.temperature{
    font-size: 2.25rem;
    display: inline;
}
.stats{
    float: right;
    font-size: 0.75rem;
    color: gray;
}
.weatherCard{
    width: 20%;
}

#error-badge{
    height: 80px;
    width: 100vw;
    background-color: rgb(255,0,0, 0.45);
    text-align: center;
    position: fixed;
    left: 0;
    top: 40vh;
    z-index: 2;
    color:white;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.day {
    height: 100vh;
    background: hsla(211, 36%, 66%, 1);

    background: linear-gradient(0deg, hsla(211, 36%, 66%, 1) 0%, hsla(206, 87%, 49%, 1) 99%, hsla(204, 70%, 49%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#88A6C7", endColorstr="#118CEB", GradientType=1 );
}

.night {
    height: 100vh;
    background: hsla(324, 34%, 55%, 1);

    background: linear-gradient(0deg, hsla(324, 34%, 55%, 1) 0%, hsla(206, 88%, 27%, 1) 99%, hsla(204, 70%, 49%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B36493", endColorstr="#084D82", GradientType=1 );
}